div {
    
width: 300px;
border: 15px solid;
padding: 50PX;
margin: 30px;
background-color: rgb(96, 165, 142);
}

P{    
    text-indent: 50px;
    text-align: center;
    writing-mode: vertical-lr;

}
h1{
    color: aliceblue ;
    letter-spacing: 20px;
}



    

